USE [master]
GO
/****** Object:  Database [marathon_2022]    Script Date: 08.11.2022 23:10:11 ******/
CREATE DATABASE [marathon_2022]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'marathon_2022', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\marathon_2022.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'marathon_2022_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\marathon_2022_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [marathon_2022].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [marathon_2022]
GO
/****** Object:  Table [dbo].[runners]    Script Date: 08.11.2022 23:10:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[runners](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [text] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[date_birth] [nvarchar](10) NOT NULL,
	[gender] [nvarchar](10) NOT NULL,
	[country] [nvarchar](15) NOT NULL,
	[weight] [nchar](10) NULL,
	[height] [nchar](10) NULL,
 CONSTRAINT [PK__runners__3213E83F3E4661A9] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
